@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');

:root {
    --rosewater: #f4dbd6;
    --flamingo: #f0c6c6;
    --pink: #f5bde6;
    --mauve: #c6a0f6;
    --red: #ed8796;
    --maroon: #ee99a0;
    --peach: #f5a97f;
    --yellow: #eed49f;
    --green: #a6da95;
    --teal: #8bd5ca;
    --sky: #91d7e3;
    --sapphire: #7dc4e4;
    --blue: #8aadf4;
    --lavender: #b7bdf8;
    --text: #cad3f5;
    --subtext1: #b8c0e0;
    --subtext0: #a5adcb;
    --overlay2: #939ab7;
    --overlay1: #8087a2;
    --overlay0: #6e738d;
    --surface2: #5b6078;
    --surface1: #494d64;
    --surface0: #363a4f;
    --base: #24273a;
    --mantle: #1e2030;
    --crust: #181926;
}

* {
    font-family: "Noto Sans HK", serif;
}

html {
    background-color: var(--base);
    color: var(--text);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16pt;
}

body {
    width: 100%;
    max-width: 30rem;
    height: 100%;
    margin: 0 auto;
    padding: 0.5rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    gap: 0.25rem;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

button {
    outline: none;
    background-color: var(--surface0);
    color: var(--text);
    border: 0;
    border-radius: 0;
    padding: 0.45rem;
    transition: 0.25s;
}

button:hover {
    background-color: var(--surface1);
}

input {
    outline: none;
    background-color: var(--base);
    color: var(--text);
    border: 0.1rem solid transparent;
    border-bottom-color: var(--surface0);
    border-radius: 0;
    padding: 0.25rem;
    transition: 0.25s;
}

input:focus {
    background-color: var(--surface1);
    border-bottom-color: var(--surface1);
}

.group {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.25rem;
}

.group > *:last-child {
    margin-left: auto;
}

#choices {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.25rem;
}

#choices > button {
    flex: 1;
}
